# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: envoy
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.9+1


environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0

  # Rust FFI libraries
  tor:
    path: packages/tor
  ur:
    path: packages/ur
  http_tor:
    path: packages/http_tor
  wallet:
    path: packages/wallet

  # qr_code_scanner fork
  qr_code_scanner:
    git:
      url: https://github.com/icota/qr_code_scanner.git
      ref: master

  # flutter_vlc_player fork
  flutter_vlc_player:
    git:
      url: https://github.com/icota/flutter_vlc_player.git
      ref: set-position
      path: flutter_vlc_player

  qr_flutter: ^4.0.0
  flutter_neumorphic: ^3.2.0
  dots_indicator: ^2.0.0
  flutter_secure_storage: ^5.0.2
  shared_preferences: ^2.0.11
  cbor: ^4.1.0
  uuid: ^3.0.5
  google_fonts: ^2.2.0
  carousel_slider: ^4.0.0
  url_launcher: ^6.0.18
  email_validator: ^2.0.1
  json_annotation: ^4.4.0
  animations: ^2.0.2
  share_plus: ^4.5.0
  timeago: ^3.2.2
  csv: ^5.0.1
  webfeed: ^0.7.0
  flutter_svg: ^1.0.3
  bip32: ^2.0.0
  package_info_plus: ^1.4.2
  permission_handler: ^9.2.0
  drag_and_drop_lists: ^0.3.2+2
  flutter_html: ^3.0.0-alpha.5
  pub_semver: ^2.1.1
  flutter_riverpod: ^2.1.1
  cupertino_icons: ^1.0.5
  rive: 0.9.1

dev_dependencies:
  test: any
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  build_runner: ^2.1.5
  json_serializable: ^6.0.1
  mockito: ^5.1.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - google_fonts/
    - assets/

  fonts:
    - family: EnvoyIcons
      fonts:
        - asset: assets/EnvoyIcons.ttf

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
