# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: envoy
description: Simple Bitcoin wallet with powerful account management and privacy features.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.1.0+26

environment:
  sdk: ">=3.5.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  ramp_flutter: ^4.0.1
  flutter_platform_widgets: ^9.0.0
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  # Rust FFI libraries
  ur:
    path: packages/ur
  http_tor:
    path: packages/http_tor
  backup:
    path: packages/backup
  bluart:
    path: packages/bluart
  foundation_api:
    path: packages/foundation_api
  ngwallet:
    path: packages/ngwallet
  shards:
    path: packages/shards


  # qr_code_scanner fork
  qr_code_scanner:
    git:
      url: https://github.com/foundation-devices/qr_code_scanner.git
      ref: 5af7a54f9af712e9512382093d6928ed0f766379

  # flutter_vlc_player fork
  flutter_vlc_player:
    git:
      url: https://github.com/foundation-devices/flutter_vlc_player.git
      ref: 2dabebfd6caff27db87e9e917f8b87d6fc2ede3b
      path: flutter_vlc_player

  tor:
   git:
     url: https://github.com/Foundation-Devices/tor.git
     ref: c089d8bc1dc459c609a9f75303c4243d21eb4724
  qr_flutter: ^4.1.0
  dots_indicator: ^4.0.1
  flutter_secure_storage: ^9.2.2
  shared_preferences: ^2.0.11
  cbor: ^4.1.0
  uuid: ^4.4.2
  google_fonts: ^6.1.0
  carousel_slider: ^5.1.1
  url_launcher: ^6.2.5
  email_validator: ^3.0.0
  json_annotation: ^4.8.1
  animations: ^2.0.2
  share_plus: ^11.1.0
  timeago: ^3.2.2
  webfeed:
    git:
      url: https://github.com/foundation-devices/webfeed.git
      ref: 22b45ac97e335f2564e94ff54657eb0fd0199245
  flutter_svg: ^2.2.0
  bip32: ^2.0.0
  package_info_plus: ^8.1.2
  permission_handler: ^12.0.1
  flutter_html:
    git:
      url: https://github.com/foundation-devices/flutter_html.git
      ref: abf22df735e644b7e13e4115ce3fb0c41b5219e8
  pub_semver: ^2.1.1
  flutter_riverpod: ^2.3.6
  cupertino_icons: ^1.0.5
  rive: ^0.13.20
  local_auth: ^2.1.6
  file_saver: ^0.3.1
  file_picker: ^10.3.1
  intl_utils: ^2.8.2
  schedulers:
    git:
      url: https://github.com/foundation-devices/schedulers_dart.git
      ref: a9328d5a37054606c1b96b9ae26f02c8e93cc836
  sembast: ^3.4.3+1
  path_provider: ^2.1.2
  stack_trace: ^1.11.0
  freezed_annotation: ^2.2.0
  go_router: ^16.1.0
  wakelock_plus: ^1.1.1
  cached_network_image: ^3.3.1
  path: any
  collection: any
  html: any
  crypto: any
  typed_data: any
  latlng: any
  http: ^1.2.1
  persistent_bottom_nav_bar: ^6.2.1
  flutter_map: ^8.2.1
  latlong2: ^0.9.1
  flutter_map_tile_caching: ^10.1.1
  in_app_purchase: ^3.2.3
  archive: ^4.0.7
  async: ^2.11.0

dependency_overrides:
  watcher: ^1.1.0

dev_dependencies:
  test: any
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  build_runner: ^2.1.5
  json_serializable: ^6.0.1
  mockito: ^5.1.0
  custom_lint:
  riverpod_lint:
  freezed: ^2.3.4
  screenshot: ^3.0.0
  convert: any
  flutter_lints:

flutter:
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - google_fonts/
    - assets/icons/
    - assets/
    - assets/videos/
    - assets/anim/
    - assets/images/
    - assets/components/icons/
    - assets/prime/

  fonts:
    - family: EnvoyIcons
      fonts:
        - asset: assets/EnvoyIcons.ttf

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
