# SPDX-FileCopyrightText: 2025 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "rust_lib_foundation_api"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"

foundation-api = { git = "https://github.com/Foundation-Devices/foundation-api", tag= "4.0.1", features = ["envoy"] }
btp = { git = "https://github.com/Foundation-Devices/foundation-api", tag = "4.0.1" }


foundation-ur = { git = "https://github.com/Foundation-Devices/foundation-rs" }
#minicbor = { version = "0.24.2", features = ["alloc"] }
bc-xid = "0.5.0"
sha2 = "0.10"

bc-envelope = { version = "0.23.0", default-features = false, features = [
    "multithreaded",
    "attachment",
    "compress",
    "encrypt",
    "expression",
    "known_value",
    "proof",
    "recipient",
    "salt",
    "signature",
    "sskr",
    "types"
]}

bc-ur = "0.6.2"
bc-components = "0.17.0"
gstp = "0.5.0"

tokio = { version = "1.34.0" , features = ["macros"]}
anyhow = "1.0.97"
log = "0.4.26"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }

[patch.crates-io]
pqcrypto-traits = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
pqcrypto-mldsa = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
pqcrypto-mlkem = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
