# SPDX-FileCopyrightText: 2025 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "rust_lib_foundation_api"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"

foundation-api = { git = "https://github.com/Foundation-Devices/foundation-api", tag= "5.2.0", features = ["envoy"] }
btp = { git = "https://github.com/Foundation-Devices/foundation-api", tag = "5.2.0" }


foundation-ur = { git = "https://github.com/Foundation-Devices/foundation-rs" }
sha2 = "0.10"

tokio = { version = "1.34.0" , features = ["macros"]}
anyhow = "1.0.97"
log = "0.4.26"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }

[patch.crates-io]
pqcrypto-traits = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
pqcrypto-mldsa = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
pqcrypto-mlkem = { git = "https://github.com/icota/pqcrypto", branch = "aarch64-feature-detection" }
