# SPDX-FileCopyrightText: 2025 Foundation Devices Inc
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "rust_lib_shards"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib","rlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
minicbor = { version = "1.0.0", features = ["alloc"] }
minicbor-derive = "0.17.0"
backup-shard = { git = "https://github.com/Foundation-Devices/foundation-api", tag = "3.3.0" }

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }
