# SPDX-FileCopyrightText: 2024 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "bluart"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
flutter_rust_bridge = "=2.11.1"
btleplug = "^0.11.6"
uuid = "^1.6.0"
tokio = { version = "1.41.0", features = ["full"] }
anyhow = "1.0.75"
once_cell = "1.20.2"
jni = "0.19.0"
jni-utils = "0.1.1"
thiserror = "1.0.67"
log = "0.4.26"
#minicbor = "0.25.1"
tracing-core = "0.1.32"
tracing-subscriber = "0.3.18"
futures = "0.3.30"

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.13"

[target.'cfg(any(target_os = "ios", target_os = "macos"))'.dependencies]
oslog = "0.1"


