# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "backup-ffi"
version = "0.1.0"
authors = ["Igor Cota <igor@foundationdevices.com>"]
edition = "2021"

[lib]
name = "backup_ffi"
crate-type = ["cdylib", "staticlib"]

[dependencies]
mla = "1.3.0"
curve25519-parser = "0.3.0"
reqwest = { version = "0.11.14", features = ["blocking", "json"] }
effort = { git = "https://github.com/Foundation-Devices/effort", rev = "c6846ae8c31d2fd13b3733c0e76e9866dea9c35c" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
bdk = { version = "0.26.0", features = ["keys-bip39"] }
log ="0.4.14"
lazy_static = "1.4"
allo-isolate = "0.1.12"

[build-dependencies]
cbindgen = "0.24.3"
