# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Android build

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - uses: extractions/setup-just@v1

      - uses: actions/checkout@v2

      - name: Build APK and AAB
        env:
          KEY_JKS: ${{ secrets.KEY_JKS }}
          KEY_PASSWORD: ${{ secrets.ALIAS_PASSWORD }}
          ALIAS_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: echo -n $KEY_JKS | base64 -di > android/key.jks && just docker-build-android-sign

      - uses: actions/upload-artifact@v2
        with:
          name: envoy-apk
          path: release/app-release.apk


      - uses: actions/upload-artifact@v2
        with:
          name: envoy-aab
          path: release/app-release.aab
