# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: BeefQA

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  beef-qa:
    runs-on: [ self-hosted, macOS, ARM64 ]

    steps:
      - uses: extractions/setup-just@v1
      - uses: actions/checkout@v4

      - name: Install bindgen-cli (for aws-lc-sys)
        run: cargo install --force --locked bindgen-cli

      - name: Build ffi
        run: ./scripts/build_ffi_ios.sh

      - name: Run BeefQA Tests
        run: just qa
