# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: BeefQA

on:
  workflow_run:
    workflows: [ "Check" ]
    types:
      - completed

jobs:
  beef-qa:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: [ self-hosted, macOS, ARM64 ]

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          # Grab the specific PR commit SHA that triggered the "Check" workflow
          repository: ${{ github.event.workflow_run.head_repository.full_name }}
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - uses: extractions/setup-just@v1

      - name: Install bindgen-cli (for aws-lc-sys)
        run: cargo install --force --locked bindgen-cli

      - name: Build ffi
        run: ./scripts/build_ffi_ios.sh

      - name: Run BeefQA Tests
        run: just qa
