# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: BeefQA

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  beef-qa:
    runs-on: [ gcp-vm-runner ]

    steps:
      - uses: extractions/setup-just@v1
      - uses: actions/checkout@v2

      - name: Install Ninja
        run: sudo apt-get install -y ninja-build

      - name: Install CMake
        run: sudo apt-get install -y cmake

      - name: sudo update
        run: sudo apt-get update

      - name: Install GTK+ 3.0 Development Packages
        run: sudo apt-get install -y libgtk-3-dev

      - name: Install ZBar
        run: sudo apt-get install -y libzbar-dev

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.1'

      - name: Install dependencies
        run: flutter pub get

      - name: Build Rust libs
        run: cargo build

      - name: Run BeefQA Tests
        run: just qa