# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Check

on:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v5

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.35.1'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify Dart formatting
        run: dart format --output=none --set-exit-if-changed .

      - run: rustup --version

      - run: rustup component add rustfmt

      - run: rustup component add clippy

      - name: Verify Rust formatting
        run: cargo fmt --all -- --check

      - name: Install dependencies
        run: sudo apt install libdbus-1-dev pkg-config

      - name: Catch common Rust mistakes
        run: cargo clippy -- -Dwarnings -A clippy::missing_safety_doc

      - name: Run Rust tests
        run: cargo test

      - name: Analyze Dart project source
        run: flutter analyze

      - name: Build Rust libs
        run: cargo build

      - name: Run Dart tests
        run: flutter test
