# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Check

on:
  pull_request:
    branches: [ main, dev-v0.1.0 ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'

      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify Dart formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Verify Rust formatting
        run: cargo fmt --all -- --check

      - name: Run Rust tests
        run: cargo test

      - name: Analyze Dart project source
        run: flutter analyze

      - name: Build Rust libs
        run: cargo build

      - name: Run Dart tests
        run: flutter test